# Core framework
fastapi==0.115.0
uvicorn[standard]==0.30.6

# Env vars & logging
python-dotenv==1.0.1
loguru==0.7.2

# Logging & monitoring
loguru==0.7.2

# If connecting to AWS (via boto3 SDK)
boto3==1.35.1

# Database (pick what you need)
motor==3.5.1        # MongoDB async driver
sqlalchemy==2.0.34  # SQL database ORM
pymysql==1.1.1      # MySQL client (if MySQL)
psycopg2-binary==2.9.9  # PostgreSQL client (if PostgreSQL)

# Utilities
requests==2.32.3

# pydantic model
pydantic[email]==2.6.0   # or your current version

python-jose[cryptography]

