
/* MAIN CONTENT */
.dashboard-content {
    margin-top: 130px;
    min-height: calc(100vh - 70px);

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* CARD */
.card {
    background: #ffffff;
    border-radius: 18px;
    padding: 28px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.25);
}

/* Wider card for tables */
.wide-card {
    width: 90%;
    max-width: 1200px;
}

/* TABLE */
.table-wrapper {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

thead {
    background: #0f172a;
    color: white;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #e5e7eb;
    font-size: small;
}

tbody tr:hover {
    background: #f8fafc;
}

/* STATUS COLORS */
.status-APPLIED { color: blue; font-weight: 600; }
.status-APPROVED { color: green; font-weight: 600; }
.status-PENDING  { color: orange; font-weight: 600; }
.status-REJECTED { color: red; font-weight: 600; }
