*{
    font-family: "Segoe UI", sans-serif;
}


/* ===============================
   DASHBOARD CONTENT AREA
================================ */
.dashboard-content {
    margin-top: 80px;
    min-height: calc(100vh - 80px);

    display: flex;
    justify-content: center;
    align-items: flex-start;

    padding: 40px;

    /* background: #f8fafc;  */
}

/* ===============================
   WELCOME WRAPPER
================================ */
.welcome-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* ===============================
   WELCOME CARD
================================ */
.welcome-card {
    width: 420px;
    background: white;
    border-radius: 16px;
    padding: 30px 28px;
    text-align: center;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    animation: fadeUp 0.4s ease;
}

/* ===============================
   LOGO
================================ */
.welcome-logo {
    width: 200px;
    opacity: 0.95;
}

/* ===============================
   TEXT
================================ */
.welcome-card h2 {
    font-size: 22px;
    color: #0f172a;
    margin-bottom: 8px;
}

.welcome-card p {
    font-size: 14.5px;
    color: #475569;
}

/* ===============================
   ANIMATION
================================ */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


