*{
    font-family: "Segoe UI", sans-serif;
}

/* ================= DASHBOARD BACKGROUND IMAGE ================= */
.dashboard-bg {
    position:static;
    /* inset: 0; */
    /* z-index: -2; */

    background-image: url("../assets/loan_logo_bw.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px auto;
    /* 👈 key change */

    /* opacity: 0.08; 👈 watermark effect */

    animation: watermarkFloat 30s ease-in-out infinite;
}

/* Soft floating motion */
@keyframes watermarkFloat {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0);
    }
}



/* ================= HEADER ================= */
.app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;

    background: #0f172a;
    color: white;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;

    padding: 5px 30px;
    z-index: 1000;
}

.header-logo {
    width: 80px;
}

.header-center h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.header-right{
    cursor: pointer;
}



/* ===============================
   FULL PROFILE PANEL
================================ */
.profile-panel {
    position: fixed;
    top: 60px;
    /* below header */
    right: 0;
    height: calc(100vh - 60px);
    width: 260px;

    background: #0f172a;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 999;
}

/* Active state */
.profile-panel.active {
    transform: translateX(0);
}

/* ===============================
   PANEL CONTENT
================================ */
.profile-panel-content a {
    display: block;
    padding: 16px 20px;
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.profile-panel-content a:hover {
    background: #7e96bc;
    color: black;
}

/* ===============================
   PANEL FOOTER (LOGOUT)
================================ */
.profile-panel-footer {
    padding: 20px;
}

.logout-btn {
    width: 100%;
    padding: 12px;
    border-radius: 999px;
    border: none;
    background: #7e96bc;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.logout-btn:hover {
    background: #ef4444;
    color: white;
}
