fastapi
uvicorn
python-dotenv
motor
pymongo
langchain
langchain-groq
langchain-google-genai
langchain-community
langchain_chroma
langchain-huggingface
sentence-transformers
langgraph
numpy
docx2txt
streamlit